<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Resource Generation</title>

    <!-- 합쳐지고 최소화된 최신 CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <!-- 부가적인 테마 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

    <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script> -->

</head>

<body>    
    <form class="form-horizontal">
        <div class="form-group">
            <label for="inputName" class="col-sm-2 control-label">Name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="inputName" placeholder="Name Input">
            </div>
        </div>
        <div class="form-group">
            <label for="inpoutTelecom" class="col-sm-2 control-label">Telecom</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="inpoutTelecom" placeholder="Telecom Input">
            </div>
        </div>
        <div class="form-group">
            <label for="inpoutGender" class="col-sm-2 control-label">Gender</label>
            <div class="col-sm-10">
                <select class="form-control">
                    <option>male</option>
                    <option>female</option>
                    <option>other</option>
                    <option>unknown</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="inputBirthDate" class="col-sm-2 control-label">Birth Date</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="inputBirthDate" placeholder="Birth Date Input">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default" onclick="input()">Generate</button>
            </div>
        </div>
    </form>

    <script type="text/javascript">
    function input(){
        var input = document.getElementById("inputName").value
        console.log(input)
    }
    </script>
</body>

</html>